# Dependencias
node_modules/
.pnp
.pnp.js

# Build
dist/
build/
.next/
out/

# Turbo
.turbo/

# Entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Docker
.docker/
docker-compose.override.yml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/

# Prisma
packages/database/prisma/*.db
packages/database/prisma/*.db-journal

# Misc
*.tgz
*.zip
